@{
    Layout = "_Layout";
}
@model List<Anbar>
<h3 class="text-center text-uppercase">Məhsullar</h3>


<table class="table table-bordered" id="example">
    <thead class="thead-dark">
        <tr>
            <th>Ad</th>
            <th>Daxili Kod</th>
            <th>Xarici Kod</th>
            <th>Növ</th>
            <th>Ölkə</th>
            <th>Say</th>
            <th>Topdan Satış Qiyməti</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var anbar in Model)
        {
            <tr>
                <td>@anbar.Ad</td>
                <td>@anbar.Daxili_Kod</td>
                <td>@anbar.Xarici_Kod</td>
                <td>@anbar.NovAd</td>
                <td>@anbar.OlkeAd</td>
                <td>@anbar.Say</td>
                <td>@anbar.Topdan_Satis_Qiymeti</td>

            </tr>
        }
    </tbody>

</table>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

<script type="text/javascript">

    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "searching": true,
        "paging": true,
        "order": [[0, "asc"]],
        "ordering": true,
        "columnDefs": [{
            "targets": [3],
            "orderable": false
        }]


    });

</script>